* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  padding: 0px 15px 0px 15px;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000000;
}

.header__content {
  max-width: 1104px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 22px 0px;
}

.header__menu-content {
  font-family: OpenSans-SemiBold;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.69;
}

.header__menu-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header__menu-list a {
  color: #ffffff;
}

.cantainer {
  max-width: 1182px;
  margin: 0 auto;
}

body {
  font-family: "OpenSans";
}

.axit {
  background-color: #9a9a9a;
  padding: 110px 15px 110px 15px;
}

.axit__content {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 200px;
  grid-template-areas: "top form";
}

.axit__axit {
  grid-area: top;
}

.axit__form {
  grid-area: form;
}

.container {
  max-width: 1104px;
  margin: 0 auto;
}

.top__title {
  padding: 33px 0px 0px 0px;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Raleway";
}

.top__line {
  padding: 36px 0px 0px 0px;
}

.top__text {
  padding: 30px 0px 50px 0px;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  opacity: 0.8;
}

.download {
  border: 1px solid white;
  max-width: 135px;
  text-align: center;
  padding: 15px 32px;
  top: 0;
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.download:hover {
  background-color: #ff9b51;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 0 2px 10px #000;
          box-shadow: 0 2px 10px #000;
  top: 3px;
}

.download:active {
  background-color: #e47b2b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.download a {
  color: #ffffff;
  font-size: 15px;
  font-family: "OpenSans";
}

.form {
  -ms-flex-item-align: end;
      align-self: end;
  max-height: 368px;
  background-color: #ffffff;
}

.form__title {
  color: #333333;
  background-color: #f5f5f5;
  text-align: center;
  padding: 18px 0px 15px 0px;
  font-weight: 700;
  font-size: 20px;
}

.form__title span {
  color: #ff9b51;
}

.form__register {
  display: grid;
  grid-template-columns: 1fr;
}

.form__register input {
  margin: 45px 35px 0px 35px;
  border-bottom: 1px solid #d6d6d6;
}

.form__register button {
  background-color: #ff9b51;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #ffffff;
  font-size: 15px;
  font-family: "OpenSans-SemiBold";
  padding: 21px 0px 20px 0px;
  margin: 48px 0px 0px 0px;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.form__register button:hover {
  background-color: #eca976;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.form__register button:active {
  background-color: #e47b2b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social {
  padding: 22px 15px 22px 15px;
}

.social__media {
  max-width: 350px;
  grid-area: social__media;
}

.social__content {
  display: grid;
  grid-template-areas: "social__media social__icons";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 87px;
}

.social__title {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.social__text {
  padding: 12px 0px 0px 0px;
  color: #86878b;
  line-height: 20px;
}

.social {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  align-self: center;
  grid-area: social__icons;
}

.social__icons {
  text-align: center;
}

.price {
  padding: 108px 15px 96px 15px;
  background-color: #f5f5f5;
}

.price__top {
  display: grid;
}

.price__title {
  color: #212121;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  font-family: "Raleway";
  text-align: center;
}

.price__subtitle {
  padding: 30px 0px 0px 0px;
  color: #86878b;
  line-height: 20px;
  text-align: center;
}

.price__price {
  padding: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.price__content-column {
  -webkit-box-shadow: 0 15px 10px #000000;
          box-shadow: 0 15px 10px #000000;
  color: #ffffff;
  background-color: #333333;
  max-width: 343px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.price__content-column:hover {
  -webkit-box-shadow: 0 10px 10px #ff8b38;
          box-shadow: 0 10px 10px #ff8b38;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.line {
  padding: 30px 0px 0px 0px;
}

.line p {
  height: 2px;
  background-color: #ff8b38;
  max-width: 64px;
  margin: 0 auto;
}

.price-column__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #868686;
  text-align: center;
  padding: 21px 0px 21px 0px;
}

.price-column__price {
  padding: 30px 0px 10px 0px;
  font-family: "Raleway";
  font-size: 94px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
}

.price-column__price::first-letter {
  font-size: 35px;
}

.price-column__price-text {
  font-family: "OpenSans-SemiBold";
  opacity: 0.5;
  text-align: center;
  font-style: italic;
  padding: 18px 0px 21px 0px;
}

.price-column__popular {
  background-color: #ff8b38;
  min-height: 5px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.price-column__description-text {
  color: #86878b;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.price-column__description-text li {
  padding: 14px 45px 14px 45px;
  border-bottom: 1px solid #f5f5f5;
}

.stylish {
  padding: 74px 15px 63px 15px;
  background-color: #9a9a9a;
  color: #ffffff;
  text-align: center;
}

.stylish__title {
  font-family: "Raleway";
  font-size: 36px;
  text-transform: uppercase;
}

.stylish__line p {
  background-color: #ffffff;
}

.stylish__subtitle {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 300;
  opacity: 0.8;
  padding: 23px 0px 33px 0px;
}

.stylish__download {
  margin: 0 auto;
}

.awesome {
  padding: 108px 15px 15px 0px;
}

.awesome__top {
  text-align: center;
}

.awesome__top-title {
  color: #212121;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
}

.awesome__top-subtitle {
  color: #86878b;
  line-height: 20px;
  padding: 30px 0px 0px 0px;
}

.awesome__columns {
  padding: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "column_one column-two column-three";
  grid-column-gap: 32px;
  text-align: center;
}

.awesome__column {
  max-width: 358px;
}

.awesome__column-title {
  padding: 29px 0px 0px 0px;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
}

.awesome__column-text {
  color: #86878b;
  line-height: 20px;
  padding: 25px 0px 0px 0px;
}

@media (max-width: 1024px) {
  .axit__content {
    grid-column-gap: 100px;
  }
}

@media (max-width: 700px) {
  .axit {
    padding: 50px 15px 80px 15px;
  }

  .axit__content {
    grid-column-gap: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top" "form";
  }

  .download {
    margin: 0 auto;
  }

  .social__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-template-areas: "social__media" "social__icons";
    text-align: center;
    grid-row-gap: 10px;
  }

  .social__content .social__media {
    margin: 0 auto;
  }

  .social__content img {
    padding: 0px 0px 20px 0px;
  }

  .price__price {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
    padding: 40px 15px 0px 15px;
  }

  .awesome__columns {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding: 80px 15px 0px 15px;
    grid-template-areas: "column-one" "column-two" "column-three";
    justify-items: center;
  }

  .awesome__columns .column__one {
    grid-area: column-one;
  }

  .awesome__columns .column__two {
    grid-area: column-two;
  }

  .awesome__columns .column__three {
    grid-area: column-three;
  }
}